<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> might have to stick type in 
    <title>JSON Data</title>
</head>

<body>
    <header></header>
    {% block content %}
    
    {% if user.name = 'admin' %}
    <a href="{{ url_for('base') }}"></a>
    {% else if condition %}
    {% else  %}
    {% endif %}

    {% endblock %}
    <footer></footer>
</body>

</html>